* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  border: 0px;
  /* box-sizing: border-box; */
}
/* html,
body {
  overflow: auto;
} */
a,
img,
input,
ul {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.container-geral {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20%;
  height: 100vh;
}
header {
  display: flex;
  justify-content: end;
  align-items: center;
  /* padding: 6px; */
  margin-top: 6px;
  margin-right: 12px;
  width: 100%;
}
header ul {
  display: inline-block;
  /* justify-content: flex-end; */
}
.containerHeader {
  display: flex;
  place-content: end;
  align-items: center;
  width: 224.83px;
  height: 48px;
  padding: 0px 4px 0px 32px;
  /* margin-right: 6px; */
}
.fontStyle1 {
  color: #000000de;
  font-size: 13px;
  font-weight: 100;
  height: 24px;
  width: 33.95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fontStyle2 {
  color: #000000de;
  font-size: 13px;
  font-weight: 100;
  height: 24px;
  width: 49.88px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul a:hover {
  text-decoration: underline;
}
.noveP {
  height: 24px;
  width: 24px;
  border-radius: 999px;
}
.perfil {
  padding: 0px;
  border: 0px;
  height: 32px;
  width: 32px;
  border: 4px solid transparent;
  border-radius: 999px;
}
.perfil:hover {
  border: 4px solid rgba(205, 205, 205, 0.5);
}
.espacamento1 {
  display: flex;
  justify-content: flex-end;

  height: 24px;
  width: 48.95px;
}

.espacamento11 {
  display: flex;
  justify-content: flex-end;

  height: 24px;
  width: 64.88px;
}
.medidasMenu {
  display: flex;
  height: 24px;
  width: 113.83px;
  padding: 0px 15px 0px 0px;
  justify-content: center;

  margin-bottom: 1px;
}
.espacamento2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  /* margin-top: 3px; */
}
.espacamento2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 999px;
}
.espacamento2 a:hover {
  background-color: rgba(205, 205, 205, 0.5);
}
.espacamento3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
}
.espacamento3 a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  /* border: 4px solid transparent; */
  border-radius: 999px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 92%;
  margin: auto;
  /* height: 100%; */
}

.imgGoogle {
  max-width: 100%;
  /* min-height: 9.5vh; */
  height: 92px;
  margin-bottom: 4.6%;
  /* margin-bottom: 26px; */
}
main form img {
  height: 30px;
  width: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top: 198px; */
  /* flex: 1; */
  width: 100%;
  margin-bottom: 141px;
}
.containerPesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
  margin-top: 1px;
}
.barraPesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe1e5;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  margin-bottom: 1px;
  /* transform: translateX(668px); */
  position: relative;
}
.barraPesquisa::after {
  content: "";
  height: 28px;
  width: 1px;
  position: absolute;
  top: 8px;
  right: 92px;
  background-color: #dadce0;
}
/* .posPesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-right: 15%;
} */
input {
  height: 34px;
  max-width: 398px;
  width: 100%;
  font-size: 16px;
  opacity: 0.87;
  position: absolute;
  top: 4px;
  left: 47px;
  /* margin-bottom: 1px;
  margin-left: 1.3%; */
  /* border: 1px solid blue; */
  /* transform: translateX(24px) translateY(2px); */
}
.lupa {
  /* transform: translateX(-447px) translateY(8px); */
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  left: 14px;
  /* margin-right: 1%; */
}
/* .pesquisaFinal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
} */
.barraPesquisa a {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .pesquisaFinal a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
} */
.xis {
  /* transform: translateX(-32px) translateY(10px); */
  width: 24px;
  height: 24px;
  position: absolute;
  right: 105px;
  top: 10px;
  /* margin-left: 20%; */
}

.teclado {
  /* transform: translateX(-8px) translateY(4px); */
  width: 19px;
  height: 11px;
  /* margin-left: 190%; */
  position: absolute;
  top: 17px;
  right: 58px;
}
.mic {
  /* transform: translateX(5px) translateY(10px); */
  height: 24px;
  width: 24px;
  position: absolute;
  top: 10px;
  right: 16px;
  /* margin-left: 55%; */
}

input:focus {
  outline: 0;
}
.barraPesquisa:hover {
  box-shadow: 0 0 6px #dfe1e5;
}

.pesq {
  /* width: 584px; */
  width: 100%;
  height: 70px;
  /* padding-top: 18px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
}
.pesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 584px;
  height: 58px;
}
.pesquisa a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 9px 16px;
  background-color: #f8f9fa;
  color: #3c4043;
  border: 1px solid transparent;
  border-radius: 5px;
}
.pesquisa a:hover {
  border: 1px solid #dfe1e5;
  box-shadow: 0 0 1.5px #dfe1e5;
}
.disp {
  /* margin-top: 38px; */
  display: flex;
  justify-content: center;
  /* margin-right: 3px; */
}
/* .espaco {
  letter-spacing: 3px;
} */
h2 {
  display: inline-block;
  color: #3c4043;
  font-size: small;
  font-weight: 100;
}
h2 a {
  color: #1a0dab;
  padding: 0 3px;
}
h2 a:hover {
  text-decoration: underline;
}
footer {
  /* margin-top: 321px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* position: absolute; */
  bottom: 0px;
  width: 100%;
  /* height: 45.25vh; */
  font-size: 14px;
}
.footerBrasil {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #70757a;
  background-color: #f2f2f2;
  height: 46px;
  font-size: 15px;
  border-bottom: 1px solid #dadce0;
}
.footerBrasil span {
  margin-left: 30px;
}
.footerLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  /* height: 100%; */
  flex-wrap: wrap;
  padding: 0 20px;
}
/* .footerLinks ul {
  gap: 30px;
} */
.footerLinks a {
  color: #70757a;
}
.footerLinks a:hover {
  text-decoration: underline;
}
.footerLinks ul {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  /* flex-wrap: wrap; */
}
.footerLinks ul li {
  display: block;
  padding: 15px;
}
.footerLinks-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  /* border: 1px solid blue; */
}
.footerLinks-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  /* border: 1px solid red; */
}
@media (max-width: 1200px) {
  .footerLinks {
    justify-content: space-evenly;
  }
}
